<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.a41dev.ril2">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme">
        <uses-library android:name="org.simalliance.openmobileapi" android:required="true" />
        <activity android:name=".MainActivity"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".StkCmdReceiver">
            <intent-filter>
                <action android:name= "android.intent.action.stk.command" />
                <action android:name= "android.intent.action.stk.session_end" />
                <action android:name= "android.intent.action.stk.icc_status_change" />
                <action android:name= "android.intent.action.stk.alpha_notify" />
                <action android:name= "android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>